
/***************** GLOBAL *************************/

/*body {
	font-family: 'Slabo 27px', serif;
	background: #E5C49A;
}*/

header {
	background-color: #B2B294;
	border-bottom: 5px solid #3E4B62;
}

footer {
	border-top: 2px solid #3E4B62;
	border-bottom: 10px solid #3E4B62;
	text-align: center;
	padding-bottom: 10px;
}


/************* HOME PAGE & NAV *******************************/

.container {
	width: 1000px;
	margin: auto;
}


#main-heading {
	margin: 0 0 0 10%;
	padding-left: 18px;
}

nav {
	margin: 0 0 0 10%;
}

nav ul {
	list-style: none;
}

nav a:link, 
nav a:visited{
  color: #9c6b95;
  text-decoration: none;
}

nav a:focus {
 	background: #E5C49A;
 }

nav a:hover {
	background-color: #B2B294;
	color: #3E4B62;
}

nav a:active {
	background: #E5C49A;
}

/****** END OF NAV ******/


.cover-image {
	max-width: 100%;
	min-width: 1030px;
	height: 100%;
	border-radius: 5%;
	border: 7px solid #3E4B62;
	margin: 10px 10%;
}


/**************************************************
	          BIO/RESUME PAGE
***************************************************/

h1 {
	font-family: 'Open Sans', sans-serif;
	color: #545C82;
	text-shadow: 5px 8px 10px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	color: #545C82;
	margin: auto 20px;
}

.bio-heading {
	float: right;
	margin: 50px;
	padding: 50px 0;
}


.head-shot {
	width: 150px;
	height: 200px;
	border: 7px solid #3E4B62;
	border-radius: 50%;
	margin: 20px 40px;
	box-shadow: 5px 10px 10px rgba(5, 5, 5, .4);
}

.contact-info {
	padding: 10px 0;
	border-bottom: 2px solid #3E4B62;
	overflow: auto;
}

.direct-contact ul {
	margin: 1px;
	float: left;
}

.direct-contact li {
	text-decoration: none;
	list-style: none;
}

.web-links ul {
	list-style: none;
	margin: 1px 50px;
	float: right;
}
.web-links li a:link,
.web-links li a:visited {
	text-decoration: none;
	color: #9c6b95;
}

.content {
	overflow: auto;
}

.about-me {
	margin: 0;
}

.bio-content,
.resume-content {
	width: 45%;
	box-sizing: border-box;
	margin: 5px;
	padding: 10px 10px 10px 40px;
}

.resume-content {
	float: right;
}

.bio-content {
	float: left;
}

.home-page {
	text-decoration: none;
	color: #9c6b95;
}

/******* END OF BIO/RESUME *********/


/* Layout for Style Tile
Feel free to change */


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/* Set Your Own Typography */

.container h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.container h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.container h3 {
	font-family: 'Indie Flower', serif;
}

section {
	margin: 20px 0;
}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

/* color palette */

.color-1 {
	background: red;
}
.color-2 {
	background: blue;
}








